{extend name="public:base" /}
{block name="content"}
<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4">
        <img class="img-circle"
             src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             alt="Generic placeholder image" width="140" height="140">
        <h2>公司介绍</h2>
        <p>
            贵州恒亿餐饮管理有限公司创办于2014年，公司注册资本5000万元,公司类型为有限责任公司,公司主要业务是从事学校及企事业单位的后勤管理和服务;前身为深圳市精诚饮食服务管理有限公司贵州分公司...</p>
        <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle"
             src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             alt="Generic placeholder image" width="140" height="140">
        <h2>产品解决方案展示</h2>
        <p>泉州第六中学提供了一个比较完善的解决方案，公司风采
            反四风落实八项规定 莫让食堂"同吃"走了样！
            贵州食堂承包公司找哪家比较可靠？
            食堂承包-恒亿餐饮：膳食养生知识大全...</p>
        <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle"
             src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             alt="Generic placeholder image" width="140" height="140">
        <h2>公司大事件</h2>
        <p>公司风采
            反四风落实八项规定 莫让食堂"同吃"走了样！
            贵州食堂承包公司找哪家比较可靠？
            食堂承包-恒亿餐饮：膳食养生知识大全
            4种途径，食堂承包-恒亿餐饮教你找到合适的食堂承包商？</p>
        <p><a class="btn btn-default" href="#" role="button">查看详情&raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">贵州同心产业园. <span
                class="text-muted"></span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="/imgs/jump01.jpg" data-src="holder.js/500x500/auto"
             alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">这里是推荐食品. <span class="text-muted">See for yourself.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="/imgs/tuijianshipin01.jpg" data-src="holder.js/500x500/auto"
             alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
             alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
{/block}
