<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/public/reset.css">
    <link rel="stylesheet" href="/static/css/public/utils.css">
    <link rel="stylesheet" href="/static/css/public/public.css">
    <style>
        .ico-right {
            display: inline-block;
            height: 24px;
            width: 24px;
            background: url("http://blog.fengdb.com/public/imgs/arrow-right.png") no-repeat;
            background-position: center;
            background-size: 100%;
        }
    </style>
</head>
<body>

<div class="wrapper">
    <header class="pager-header">
        <nav class="container page-nav">泉州恒益餐饮食品有限公司</nav>
        <div class="page-banner banner">
            <ul style="height: 150px;">
                <li><img src="/imgs/banner01.jpg" alt="" width="100%" height="150"></li>
                <li><img src="/imgs/banner01.jpg" alt="" width="100%" height="150"></li>
                <li><img src="/imgs/banner01.jpg" alt="" width="100%" height="150"></li>
            </ul>
        </div>
        <div class="nav-menu">

        </div>
    </header>
    <article>
        <!--<i class="ico-right"></i>-->
    </article>
    <footer>

    </footer>
</div>


<script src="/static/libs/jquery/3.2.1/jquery-3.2.1.js"></script>
<!--<script src="//code.jquery.com/jquery-latest.min.js"></script>-->

<script src="//unslider.com/unslider.js"></script>
<script>
    $(function () {
        $('.banner').unslider();
//        $.ajax({
//            url: "",
//            methods: "get",
//            success: function (res) {
//
//            },
//            error: function (res) {
//
//            }
//        });
    });
</script>
</body>
</html>