{extend name="public:base" /}
{block name="title"}解决方案{/block}
{block name="css"}
<style>
   .thumbnail img {
        height: 105px;
        width: auto;
   }
   .thumbnail p {
       text-align: center;
   }

</style>
{/block}

{block name="content"}
<div class="row" id="container">
    <div class="col-md-3">
        <div class="list-group">
            <span class="list-group-item-heading list-group-item list-group-item-info">
                食品分类
            </span>
            {volist name="type" id="vo"}
            {if condition="($vo.id == 1) "}
            <a href="/product/{$vo.id}" class="list-group-item text-center active" data-id="{$vo.id}">{$vo.name}</a>
            {else /}
            <a href="/product/{$vo.id}" class="list-group-item text-center" data-id="{$vo.id}">{$vo.name}</a>
            {/if}

            {/volist}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>联系我们</strong>
            </div>
            <div class="panel-body">
                <h4>贵州恒亿餐饮管理有限公司</h4>
                <strong>合作热线</strong>
                <p><label>欧先生：</label>18585816588</p>
                <p><label>欧先生：</label>18585816588</p>
                <address>地址：贵州省贵阳市云岩区环城东路555号01层</address>
            </div>
        </div>
    </div>
    <div class="col-md-9 row">
        <div class="row" style="min-height: 500px;" id="listContent">
            {volist name='list' id='vo'}
            <div class="col-sm-4 col-md-3 col-xl-6 ">
                <div class="thumbnail">
                    <img src="{$vo.thumb}" alt="...">
                    <div class="caption">
                        <!--<h3>{$vo.name}</h3>-->
                        <p>{$vo.name}</p>
                        <!--<p><a href="#" class="btn btn-primary" role="button">查看详情</a> </p>-->
                    </div>
                </div>
            </div>
            {/volist}
        </div>
        <div class="container-fluid">
            <form class="form form-inline" aria-label="...">
                <ul class="pager">
                    <li><em>总 <strong id="totalPage">1</strong> 页 </em> </li>
                    <li><button type="button" class="btn btn-info prev">上一页</button></li>
                    <li><button type="button" class="btn btn-info next">下一页</button></li>
                    <li><button type="button" class="btn btn-primary go">Go</button> <input type="number" id="page"  min="1" step="1" class="form-control" style="width: 80px;" /> 页</li>
                </ul>
            </form>
        </div>
    </div>
</div>
<script type="text/html" id="tpl">
    <% for (var i = 0; i < list.length; i++) { %>
    <div class="col-sm-4 col-md-3 col-xl-6 ">
        <div class="thumbnail">
            <img src="<%= list[i].thumb %>" alt="<%= list[i].name %>">
            <div class="caption">
                <!--<h3>{$vo.name}</h3>-->
                <p><%= list[i].name %></p>
                <!--<p><a href="#" class="btn btn-primary" role="button">查看详情</a> </p>-->
            </div>
        </div>
    </div>
    <% } %>
</script>
{/block}
{block name="js"}
<script src="/static/libs/template/template-native.js"></script>
<script>
    $(document).ready(function () {
        var $container = $('#container'),
            globalParam = {
                page: 1,
                totalPage: 1,
                id: 1
            };

        function getData(param) {

            $.ajax({
                method: 'get',
                url: '/find',
                dataType: 'json',
                data: param,
                success: function (res) {
                    var $listContent = $('#listContent');
                    globalParam.totalPage = res.totalPage;
                    if (res.data.list.length > 0) {
                        $listContent.html(template('tpl',res.data));
                    } else {
                        $listContent.html('<h3 class="container">暂无数据</h3>');
                    }

                    $('#totalPage').html(globalParam.totalPage);

                },
                error: function (response) {

                }
            })
        }
        function prevPage() {
            if (globalParam.totalPage === 0 || globalParam.page === globalParam.totalPage) return alert('没有更多了');
            if (globalParam.page > 1) {
                globalParam.page = globalParam.page - 1;
            }
            getData(globalParam);
        }
        function nextPage() {
            if (globalParam.totalPage === 0 || globalParam.page === globalParam.totalPage) return alert('没有更多了');
            if (globalParam.page < globalParam.totalPage) {
                globalParam.page = globalParam.page + 1;
            }
            getData(globalParam);
        }
        function goPage() {
            var page = $('#page').val();
            if (globalParam.totalPage === 0 || globalParam.page === globalParam.totalPage) return alert('没有更多了');
            if (page < 1 || page > globalParam.totalPage) return alert('超出页码范围');
            globalParam.page = page;
            getData(globalParam);
        }
        $container.on('click','.list-group-item',function (e) {
            e.preventDefault();
            var $this = $(this);
            globalParam.id = $this.data('id');
            globalParam.page = 1;
            $this.addClass('active').siblings().removeClass('active');
            getData(globalParam)
        });
        $container.on('click','.prev',prevPage);

        $container.on('click','.go',goPage);
        $container.on('click','.next',nextPage)

    })
</script>
{/block}