<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <form enctype="multipart/form-data" class="form-inline" method="post" name="fileinfo" action="/upload">
        <input type="file" class="form-control" name="file" required />
        <input type="button" class="btn btn-success" id="btn" value="提交" />
    </form>
    <div></div>
</div>
<script src="/static/libs/jquery/3.2.1/jquery-3.2.1.js"></script>
<script>
    $('#btn').on('click',function () {
        var fd = new FormData(document.querySelector("form"));
        fd.append("CustomField", "This is some extra data");
        $.ajax({
            url: "/index/index/receive",
            type: "POST",
            data: fd,
            processData: false,  // 不处理数据
            contentType: false   // 不设置内容类型
        });
    });

</script>
</body>
</html>