{extend name="public:base" /}
{block name="css"}
<link href="/static/libs/huploadify/Huploadify.css" media="all" rel="stylesheet" type="text/css" />
<style>
    legend {
        padding: 15px 0;
    }
    .form {
        padding: 15px;
        border: 1px dashed gainsboro;
    }
</style>
{/block}
{block name="title"}新闻列表{/block}

{block name="main"}
<form class="form">
    <legend>新闻管理</legend>
    <a href="/news/add" class="btn btn-primary" id="addBtn">添加新闻</a>
</form>
<table class="table table-hover table-bordered"  >
    <thead>
    <tr>
        <th>序号</th>
        <th>标题</th>
        <th>时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="content">
    {volist name="list" id="vo"}
    <tr>
        <td>{$vo.id}</td>
        <td>{$vo.title}</td>
        <td>{$vo.insert_time|date='Y-m-d H:i:s',###}</td>
        <td>{$vo.sts}</td>
        <td data-id="{$vo.id}">
            <button type="button" class="btn btn-danger">删除</button>
            <button type="button" class="btn btn-primary edit">修改</button>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>

{/block}

{block name="js"}

<script src="/static/libs/huploadify/jquery.Huploadify.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var content = $('#content'),
            modal = $('#modal'),
            $el;
        // 上传图片
        $('#upload').Huploadify({
            auto:false,
            fileTypeExts:'*.jpg;*.png;*.gif',
            multi:true,
            formData: { thump:123456 },
            fileSizeLimit:9999,
            showUploadedPercent:true,//是否实时显示上传的百分比，如20%
            showUploadedSize:true,
            removeTimeout:999999999,
            uploader:'/upload',
            onUploadStart:function(){
//                console.log('开始上传');
            },
            onInit:function(){
//                console.log('初始化');
            },
            onUploadSuccess: function (file,xhr) {
                try {
                    var url = JSON.parse(xhr).data.url;
                    $('#thumpUrl').html(url);
                    $('#thumpImg').attr('src','//'+ url);
                } catch (err) {
                    console.log(err);
                }

            },
            onUploadComplete:function(res){
//                console.log(res);
//                $('#thumpUrl').html(res.data.url);
            },
            onDelete:function(file){
                console.log('删除的文件：'+file);
                console.log(file);
            }
        });

        // 新增
        $('#addBtn').on('click',function () {
            modal.modal('show');
            modal.data('id','');
            modal.data('type','add')
        });


        $('#save').on('click',function () {
            modal.modal('hide');
            var id = modal.data('id');
            var thumpUrl = $('#thumpUrl').html(),
                foodName = $('#foodName').val(),
                foodType = $('#foodType').val(),
                type = modal.data('type'),
                url = "/food/add" ,
                params = {name:foodName};// type === "add" ? {thumb: thumpUrl,name: foodName,t_id: foodType } : {thumb: thumpUrl,name: foodName,t_id: foodType,id:id };
            if (type === "add") {
                params = {thumb: thumpUrl,name: foodName,t_id: foodType };
            } else {
                url = "/food/update";
                if (thumpUrl.length > 0) {
                    params.thumb = thumpUrl;
                }
                if (foodName.length > 0) {
                    params.name = foodName;
                } else {
                    return alert('请输入名称')
                }
                params.t_id = foodType;
                params.id = id;
            }
            if (foodName.length > 0) {
                $.ajax({
                    url: url,
                    method: "post",
                    data: params,
                    success: function (response) {
                        console.log(response);
                        if (response.code === 200) {
//                            alert(response.msg)
                            var timer = setTimeout(function () {
                                window.location.reload();
                                clearTimeout(timer);
                            },500)

                        }
                    }
                })
            }

        })


        $('#addFoodType').on('click',function () {
            var foodType = $('#foodType').val();
            if (foodType.length > 0) {
                $.ajax({
                    url: "/admin/types/add",
                    method: "post",
                    data: {name: foodType},
                    success: function (response) {
                        console.log(response);
                        if (response.code === 200) {
                            alert(response.msg)
                        } else if (response.code === 104){
                            alert(response.msg)
                        }
                    }
                })
            } else {
                alert('请填写类型名称')
            }
        });


        content.on('click','.btn-danger',function () {
            var $this = $(this),
                pid = $this.parent().data('id'),
                pEl = $this.parent().parent();

            var condition = confirm("您确认删除吗？");

            if (condition) {
                $.ajax({
                    url: "/news/del",
                    method: "post",
                    data: {id: pid},
                    success: function (response) {
                        console.log(response);
                        if (response.code === 200) {
                            pEl.remove();
                        } else {
                            alert(response.msg)
                        }
                    }
                })
            }
        });
        content.on('click','.edit',function () {
            var id = $(this).parent().data('id');
            window.location.href = '/news/edit?id=' + id;

        });
    })
</script>
{/block}

