/**
 **********************************
 |  这里包括头部尾部以及公共的CSS   |
 **********************************
 **/

/**
 *  top nav样式
 */
.page-header {
    /*height: 80px;*/
    /*background-color: #1ABC9C;*/
}
.page-nav {
    height: 80px;
    background-color: #1ABC9C;
}

.page-banner {
    position: relative;
    height: 150px;
}
.nav-menu {
    height: 60px;
    background-color: #1ABC9C;
}

/**
 * ------------------
 *  轮播
 * -------------------
 */
.banner {
    /*position: relative;*/
    overflow: auto;
}

.banner li {
    list-style: none;
}
.banner li img {
    height: 150px;
    width: 100%;
}
.banner ul li {
    float: left;
}