.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*@media (min-width: 768px) {*/
    /*.container {*/
        /*width: 750px;*/
    /*}*/
/*}*/
/*@media (min-width: 992px) {*/
    /*.container {*/
        /*width: 970px;*/
    /*}*/
/*}*/
/*@media (min-width: 1200px) {*/
    /*.container {*/
        /*width: 1170px;*/
    /*}*/
/*}*/
.clear:after,.clear:before {
    display: table;
    content: ' ';
    clear: both;
}
.pagination {
    position: absolute;
    top: 20px;
    right: 20px;
}
.pagination li {
    float: left;
    padding: 0 10px;
    font-size: 16px;
}