<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">



<link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.css">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="/static/css/public/ie10-viewport-bug-workaround.css" rel="stylesheet">



<!--[if lt IE 9]>
<script src="/static/scripts/public/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Custom styles for this template -->
<link href="/static/css/product/carousel.css" rel="stylesheet">